.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0em;
	font-weight: 300;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Nav */

.top-tab {
} 


.tabs nav {
	text-align: center;
	/*width: 32.818533%;*/
    margin-bottom: -2.722008%;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}



.tabs nav ul {
	padding: 0;
	margin-right: 52%;
	list-style: none;
	display: inline-block;	
    margin-bottom: -1.5%;
}


@media (min-width: 560px) and (max-width: 949px) {
      .tabs nav ul {
         margin-right: 20% !important;
         margin-bottom: -2.5%;
}
}

@media (max-width: 559px) {
      .tabs nav ul {
         margin-right: 0 !important;
         margin-bottom: -2.5%;
}
}


@media (max-width: 513px) {
.tabs nav ul li {
    width: 40%;
    width: calc(40% + 1px);
    margin: 0 0 0 -1px;
}
}

.tabs nav ul li {
/*	border: 1px solid #9c9c9c;*/
	border-bottom: none;
    margin: .5em .5em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav ul li {
    display: block;
    padding: 15px;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    background: #f3f6f8;
}
.tabs nav ul li:hover{
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   	transform: translateY(-2px);
}
}

.tab-current {
	background: #8dc63f;
}

.tabs nav li.tab-current {
	/*border: 1px solid #9c9c9c;
	box-shadow: inset 0 3px #649c16;*/
	border-bottom: none;
	z-index: 100;
    overflow: hidden;	
	background: #8dc63f;
/*	transform: translateY(10px);*/
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 100%;
	background: #9c9c9c;
}

.tab-nav li.tab-current a, .tab-nav li a:hover {
    transform: translateX(20px);
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #649c16;
	display: block;
	line-height: 2;
	padding: 0 1.25em;
	white-space: nowrap;
	text-decoration: none;
}

.tabs nav a:hover {
	color: #768e9d;
}
.tabs nav li.tab-current a {
	color: #fff;
	text-decoration: none;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
/*	padding: 2em;*/
	display: none;
/*	max-width: 1230px;*/
	margin: 0;
/*	background-color: red;*/
	margin-top: 2.7%;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #8dc63f
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
/*		display: none;*/
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	/*.tabs nav ul li {
		width: 40%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}*/

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}